*{
    margin: 0;
    padding: 0;
}


.header{
  height: 100px;
  background-color: black;
}

.logo{
  color: white;
  display: flex;

  justify-content: left;
}

.seach a{
  color: white;
  font-size: 20px;
  margin-right: 30px;
  margin-top: 15px;
  text-decoration: none;
  padding: 0 5px;
  float: right;
}

.seach a:hover{
  color: white;
  background-color:black;
  border: 2px solid #00008B;
  border-radius: 15px;


  transition: 0.5s;
}

.class{
  display: none;
}



.class.resclass {
    position: relative;
    display: block;
}

.class.resclass a {
  text-align: center;
  display: block;
  text-decoration: none;
  color:black;
  float:none;
  padding: 1em 1em;
  font-size: 1em;
  border: 1px solid black;
}
.class.resclass a:hover{
    color:white;
    background-color: black;
}



.class_n{
  display: none;
}

.class_d{
  display: block;
}
















.for{
  display: none;
}



.for.formula {
    position: relative;
    display: block;
}

.for.formula a {
  text-align: left;
  display: block;
  text-decoration: none;
  color:black;
  float:none;
  padding: 1em 1em;
  font-size: 1em;
  border: 1px solid black;
}
.for.formula a:hover{
    color:white;
    background-color: black;
}




.formula_2_step{
  display: none;
}



.formula_2_step.res {
    position: relative;
    display: block;
}

.formula_2_step.res a {
  text-align: left;
  display: block;
  text-decoration: none;
  color:black;
  float:none;
  padding: 1em 1em;
  font-size: 1em;
  border: 1px solid black;
}
.formula_2_step.res a:hover{
    color:white;
    background-color: black;
}








.formula_3_step{
  display: none;
}



.formula_3_step.res {
    position: relative;
    display: block;
}

.formula_3_step.res a {
  text-align: left;
  display: block;
  text-decoration: none;
  color:black;
  float:none;
  padding: 1em 1em;
  font-size: 1em;
  border: 1px solid black;
}
.formula_3_step.res a:hover{
    color:white;
    background-color: black;
}


.icon{
  display: none;
}


@media screen and (max-width: 630px) {

.seach a{
    color: white;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 15px;
    text-decoration: none;
    padding: 0 5px;
    float: none;

  }
  .header{
    height: 200px;
    background-color: black;

  }


  .logo{
    color: white;
    display: flex;
    font-size: 11px;
    justify-content: left;

  }

  .icon{
    display: block;
  }

}
